* {
  margin: 0;
  border: border-box;
}

.cart-container {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  background-color: white;
  color: black;
  width: 90%;
  min-width: 350px;
  padding: 15px;
}

.empty-cart {
  background-color: white;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.table-container {
  margin: auto;
  background-color: white;
  border-collapse: collapse;
  color: white;
  width: 100%;
}

.table-container th {
  background-color: white;
  color: black;
  padding-top: 15px;
}

.table-container td {
  background-color: white;
  text-align: center;
  color: black;
  padding-top: 15px;
}

.table-container td:first-child {
  width: 100px; 
  height: 100px;
  text-align: center;
}
.table-container td:first-child img {
  max-width: 100%;
  height: auto; 
}

.table-container td:nth-child(3) input {
  margin: auto;
  background-color: white;
  border: 1px solid #D9D9D9;
  color: black;
  width: 50px;
  height: 25px;
  border-radius: 15px;
  text-align: center;
}

.checkout-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: auto;
  background-color: white;
  color: black;
  width: 100%;
  border-radius: 15px;
  padding: 20px 0px;
}

.checkout-container p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  color: black;
  width: 60%;
  font-size: 20px;
  font-weight: bold;
}

.checkout-container span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  color: #D9D9D9;
  width: 50%;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.checkout-container button {
  background-color: #F8375D;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 20%;
}

@media (min-width: 768px ) {
  .cart-container {
    width: 60%;
    padding: 15px;
  }

  .table-container td:first-child {
    width: 150px; 
  }

  .checkout-container p {
    width: 50%;
    font-size: 25px;
  }
}

@media (min-width: 935px) {
  .cart-container {
    width: 60%;
    padding: 15px;
  }

  .table-container td:first-child {
    width: 150px; 
  }

  .checkout-container p {
    width: 50%;
    font-size: 30px;
  }
}